/etherpad-win.exe
/etherpad-win.zip
node_modules/
/settings.json
!settings.json.template
APIKEY.txt
SESSIONKEY.txt
var/dirty.db
.env
*~
*.patch
npm-debug.log
*.DS_Store
*.crt
*.key
credentials.json
out/
.nyc_output
.idea
/package-lock.json
/src/bin/abiword.exe
/src/bin/convertSettings.json
/src/bin/etherpad-1.deb
/src/bin/node.exe
plugin_packages
/src/test-results
playwright-report
state.json
601a87ab7f81cdc9b59e24fbe404210502bc7766
server/etherpad-lite/node_modules/.pnpm/canvas@2.11.2/node_modules/canvas/build/Release/librsvg-2.so.2