/etherpad-lite/etherpad-win.exe
/etherpad-lite/etherpad-win.zip
/etherpad-lite!settings.json.template

/etherpad-liteSESSIONKEY.txt
/etherpad-lite/var/dirty.db
/etherpad-lite/.env
/etherpad-lite/*~
/etherpad-lite/*.patch
/etherpad-lite/npm-debug.log
/etherpad-lite/*.DS_Store
/etherpad-lite/*.crt
/etherpad-lite/*.key
/etherpad-lite/credentials.json
/etherpad-lite/out/
/etherpad-lite/.nyc_output
/etherpad-lite/.idea
/etherpad-lite//package-lock.json
/etherpad-lite//src/bin/abiword.exe
/etherpad-lite//src/bin/convertSettings.json
/etherpad-lite//src/bin/etherpad-1.deb
/etherpad-lite//src/bin/node.exe
/etherpad-lite/plugin_packages
/etherpad-lite//src/test-results
/etherpad-lite/playwright-report
/etherpad-lite/state.json

# node modules
/etherpad-lite/admin/node_modules/
/etherpad-lite/node_modules/
#apikey


