/etherpad-lite/etherpad-win.exe
/etherpad-lite/etherpad-win.zip
/etherpad-lite!settings.json.template

/etherpad-liteSESSIONKEY.txt
/etherpad-lite/var/dirty.db
/etherpad-lite/.env
/etherpad-lite/*~
/etherpad-lite/*.patch
/etherpad-lite/npm-debug.log
/etherpad-lite/*.DS_Store
/etherpad-lite/*.crt
/etherpad-lite/*.key
/etherpad-lite/credentials.json
/etherpad-lite/out/
/etherpad-lite/.nyc_output
/etherpad-lite/.idea
/etherpad-lite//package-lock.json
/etherpad-lite//src/bin/abiword.exe
/etherpad-lite//src/bin/convertSettings.json
/etherpad-lite//src/bin/etherpad-1.deb
/etherpad-lite//src/bin/node.exe
/etherpad-lite/plugin_packages
/etherpad-lite//src/test-results
/etherpad-lite/playwright-report
/etherpad-lite/state.json

# node modules
/etherpad-lite/admin/node_modules/
/etherpad-lite/node_modules/

#apikey
/etherpad-lite/APIKEY.txt
601a87ab7f81cdc9b59e24fbe404210502bc7766 
/etherpad-lite/node_modules/.pnpm/canvas@2.11.2/node_modules/canvas/build/Release/librsvg-2.so.2

#
/etherpad-lite/preuba.html
/etherpad-lite/admin/src/media/pruebas


