<li class="separator acl-write"></li>
<li class="acl-write">
    <select id="line-spacing" class="line-spacing-selection">
        <option value="dummy" selected data-l10n-id="ep_line_spacing.spacing">Line spacing</option>
        <option value="0">Auto</option>
        <option value="1">1.5</option>
        <option value="2">2.5</option>
        <option value="3" data-l10n-id="ep_line_spacing.one_line_spacing">One line spacing</option>
        <option value="4" data-l10n-id="ep_line_spacing.two_line_spacing">Two line spacing</option>
    </select>
</li>