<%
  var settings = require("ep_etherpad-lite/node/utils/Settings")
    , langs = require("ep_etherpad-lite/node/hooks/i18n").availableLangs
    , pluginUtils = require('ep_etherpad-lite/static/js/pluginfw/shared')
    ;
%>
<!doctype html>
<html translate="no" class="pad <%=pluginUtils.clientPluginNames().join(' '); %> <%=settings.skinVariants%>">
<head>
  <% e.begin_block("htmlHead"); %>
  <% e.end_block(); %>
  <title><%=settings.title%></title>
  <link rel="manifest" href="/manifest.json" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script>
    /*
    |@licstart  The following is the entire license notice for the
    JavaScript code in this page.|

    Copyright 2011 Peter Martischka, Primary Technology.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

    |@licend  The above is the entire license notice
    for the JavaScript code in this page.|
    */
  </script>

  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="referrer" content="no-referrer">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link rel="shortcut icon" href="../favicon.ico">

  <% e.begin_block("styles"); %>
  <link href="../static/css/pad.css?v=<%=settings.randomVersionString%>" rel="stylesheet">

  <% e.begin_block("customStyles"); %>
  <link href="../static/skins/<%=encodeURI(settings.skinName)%>/pad.css?v=<%=settings.randomVersionString%>" rel="stylesheet">
  <% e.end_block(); %>

  <style title="dynamicsyntax"></style>
  <% e.end_block(); %>

  <link rel="localizations" type="application/l10n+json" href="../locales.json" />

  <!--Enlaces que vamos a ocupar en el proyecto-->
 
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
  <% e.begin_block("body"); %>

  <!----------------------------->
  <!--------- TOOLBAR ----------->
  <!----------------------------->
  <div id="editbar" class="toolbar">
      <div id="toolbar-overlay"></div>

      <ul class="menu_left" role="toolbar">
          <% e.begin_block("editbarMenuLeft"); %>
          <%- toolbar.menu(settings.toolbar.left, isReadOnly, 'left', 'pad') %>
          
          <% e.end_block(); %>
      </ul>
     
      <ul class="menu_right" role="toolbar">
          <% e.begin_block("editbarMenuRight"); %>
          <%- toolbar.menu(settings.toolbar.right, isReadOnly, 'right', 'pad') %>
          <% e.end_block(); %>
      </ul>

      <button>Firmar</button>

      <span class="show-more-icon-btn"></span> <!-- use on small screen to display hidden toolbar buttons -->
  </div>

  <% e.begin_block("afterEditbar"); %><% e.end_block(); %>

  <div id="editorcontainerbox" class="flex-layout">

      <% e.begin_block("editorContainerBox"); %>

      <!----------------------------->
      <!--- PAD EDITOR (in iframe) -->
      <!----------------------------->
      <!--<div id="compoFirmar"></div> -->
      <!--<script type="module" src="../templates/padEditor/assets/Firmar-Dty-t_96.js"></script> -->

     <!-- <script type="module" src="../../admin/src/pages/Firmar.tsx"></script> -->
      
      <!--Código de prueba-->
      <style>
        .canvas-container{
            display: flex;
            justify-content: center;
            margin-top: 2rem;
        }
        .canvas-design{
            background-color: #ffffff;
            border: solid black 1px;
            width: 400px;
            height: 200px;
        }


        .listaDoc {
            cursor: pointer;
        }

        .listaDoc li {
            padding: 10px; /* Espaciado interno de los elementos de la lista */
            margin-bottom: 10px; /* Espacio entre los elementos de la lista */
        }
        .listaDoc li span {
            padding: 5px; /* */
        }


        .listaDoc .selected span {
            background-color: #e0e0e0; 
            border: 1px solid #000;
        }
        #documentos h2{
            margin-top: 1rem;
            margin-left: 1rem;
            font-weight: bold;
        }


        .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1050;
        }

      </style>
    
      

      

      <div id="editorcontainer" class="editorcontainer"></div>

      <div id="editorloadingbox">
        <% e.begin_block("permissionDenied"); %>
        <div id="permissionDenied">
          <p data-l10n-id="pad.permissionDenied" class="editorloadingbox-message">
            You do not have permission to access this pad
          </p>
        </div>
        <% e.end_block(); %>
        <% e.begin_block("loading"); %>
        <p data-l10n-id="pad.loading" id="loading" class="editorloadingbox-message">
          <img src='../static/img/brand.svg' class='etherpadBrand'><br/>
          Loading...
        </p>
        <% e.end_block(); %>
        <noscript>
          <p class="editorloadingbox-message">
            <strong>
              Sorry, you have to enable Javascript in order to use this.
            </strong>
          </p>
        </noscript>
      </div>


      <!------------------------------------------------------------->
      <!-- SETTINGS POPUP (change font, language, chat parameters) -->
      <!------------------------------------------------------------->

      <div id="settings" class="popup"><div class="popup-content">
          <h1 data-l10n-id="pad.settings.padSettings"></h1>
          <% e.begin_block("mySettings"); %>
          <h2 data-l10n-id="pad.settings.myView"></h2>
          <p class="hide-for-mobile">
              <input type="checkbox" id="options-stickychat">
              <label for="options-stickychat" data-l10n-id="pad.settings.stickychat"></label>
          </p>
          <p class="hide-for-mobile">
              <input type="checkbox" id="options-chatandusers" onClick="chat.chatAndUsers();">
              <label for="options-chatandusers" data-l10n-id="pad.settings.chatandusers"></label>
          </p>
          <p>
              <input type="checkbox" id="options-colorscheck">
              <label for="options-colorscheck" data-l10n-id="pad.settings.colorcheck"></label>
          </p>
          <p>
              <input type="checkbox" id="options-linenoscheck" checked>
              <label for="options-linenoscheck" data-l10n-id="pad.settings.linenocheck"></label>
          </p>
          <p>
              <input type="checkbox" id="options-rtlcheck">
              <label for="options-rtlcheck" data-l10n-id="pad.settings.rtlcheck"></label>
          </p>
          <% e.end_block(); %>

          <div class="dropdowns-container">
            <% e.begin_block("mySettings.dropdowns"); %>
            <p class="dropdown-line">
              <label for="viewfontmenu" data-l10n-id="pad.settings.fontType">Font type:</label>
              <select id="viewfontmenu">
                <option value="" data-l10n-id="pad.settings.fontType.normal">Normal</option>
                <%= fonts = ["Quicksand", "Roboto", "Alegreya", "PlayfairDisplay", "Montserrat", "OpenDyslexic", "RobotoMono"] %>
                <% for(var i=0; i < fonts.length; i++) { %>
                  <option value="<%=fonts[i]%>"><%=fonts[i]%></option>
                <% } %>
              </select>
            </p>

            <p class="dropdown-line">
              <label for="languagemenu" data-l10n-id="pad.settings.language">Language:</label>
              <select id="languagemenu">
                  <% for (lang in langs) { %>
                  <option value="<%=lang%>"><%=langs[lang].nativeName%></option>
                  <% } %>
              </select>
            </p>
            <% e.end_block(); %>
          </div>

          <h2 data-l10n-id="pad.settings.about">About</h2>
          <span data-l10n-id="pad.settings.poweredBy">Powered by</span>
          <a href="https://etherpad.org">Etherpad</a>
          <% if (settings.exposeVersion) { %>(commit <%=settings.getGitCommit()%>)<% } %>
      </div></div>


      <!------------------------->
      <!-- IMPORT EXPORT POPUP -->
      <!------------------------->

      <div id="import_export" class="popup"><div class="popup-content">
          <h1 data-l10n-id="pad.importExport.import_export"></h1>
          <div class="acl-write">
              <% e.begin_block("importColumn"); %>
              <h2 data-l10n-id="pad.importExport.import"></h2>
              <div class="importmessage" id="importmessageabiword" data-l10n-id="pad.importExport.abiword.innerHTML"></div><br>
              <form id="importform" method="post" action="" target="importiframe" enctype="multipart/form-data">
                  <div class="importformdiv" id="importformfilediv">
                      <input type="file" name="file" size="10" id="importfileinput">
                      <div class="importmessage" id="importmessagefail"></div>
                  </div>
                  <div id="import"></div>
                  <div class="importmessage" id="importmessagesuccess" data-l10n-id="pad.importExport.importSuccessful"></div>
                  <div class="importformdiv" id="importformsubmitdiv">
                      <span class="nowrap">
                          <input type="submit" class="btn btn-primary" name="submit" value="Import Now" disabled="disabled" id="importsubmitinput">
                          <div alt="" id="importstatusball" class="loadingAnimation" align="top"></div>
                      </span>
                  </div>
              </form>
              <% e.end_block(); %>
          </div>
          <div id="exportColumn">
              <h2 data-l10n-id="pad.importExport.export"></h2>
              <% e.begin_block("exportColumn"); %>
              <a id="exportetherpada" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file-powerpoint" id="exportetherpad" data-l10n-id="pad.importExport.exportetherpad"></span>
              </a>
              <a id="exporthtmla" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file-code" id="exporthtml" data-l10n-id="pad.importExport.exporthtml"></span>
              </a>
              <a id="exportplaina" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file" id="exportplain" data-l10n-id="pad.importExport.exportplain"></span>
              </a>
              <a id="exportworda" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file-word" id="exportword" data-l10n-id="pad.importExport.exportword"></span>
              </a>
              <a id="exportpdfa" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file-pdf" id="exportpdf" data-l10n-id="pad.importExport.exportpdf"></span>
              </a>
              <a id="exportopena" target="_blank" class="exportlink">
                <span class="exporttype buttonicon buttonicon-file-alt" id="exportopen" data-l10n-id="pad.importExport.exportopen"></span>
              </a>
              <% e.end_block(); %>
          </div>
      </div></div>


      <!---------------------------------------------------->
      <!-- CONNECTIVITY POPUP (when you get disconnected) -->
      <!---------------------------------------------------->

      <div id="connectivity" class="popup"><div class="popup-content">
          <% e.begin_block("modals"); %>
          <div class="connected visible">
            <h2 data-l10n-id="pad.modals.connected"></h2>
          </div>
          <div class="reconnecting">
            <h1 data-l10n-id="pad.modals.reconnecting"></h1>
            <i class='buttonicon buttonicon-spin5 icon-spin'>
              <img src='../static/img/brand.svg' class='etherpadBrand'><br/>
            </i>
          </div>
          <div class="userdup">
            <h1 data-l10n-id="pad.modals.userdup"></h1>
            <h2 data-l10n-id="pad.modals.userdup.explanation"></h2>
            <p id="defaulttext" data-l10n-id="pad.modals.userdup.advice"></p>
            <button id="forcereconnect" class="btn btn-primary" data-l10n-id="pad.modals.forcereconnect"></button>
          </div>
          <div class="unauth">
            <h1 data-l10n-id="pad.modals.unauth"></h1>
            <p id="defaulttext" data-l10n-id="pad.modals.unauth.explanation"></p>
            <button id="forcereconnect" class="btn btn-primary" data-l10n-id="pad.modals.forcereconnect"></button>
          </div>
          <div class="looping">
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.looping.explanation"></h2>
            <p data-l10n-id="pad.modals.looping.cause"></p>
          </div>
          <div class="initsocketfail">
            <h1 data-l10n-id="pad.modals.initsocketfail"></h1>
            <h2 data-l10n-id="pad.modals.initsocketfail.explanation"></h2>
            <p data-l10n-id="pad.modals.initsocketfail.cause"></p>
          </div>
          <div class="slowcommit with_reconnect_timer">
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.slowcommit.explanation"></h2>
            <p id="defaulttext" data-l10n-id="pad.modals.slowcommit.cause"></p>
            <button id="forcereconnect" class="btn btn-primary" data-l10n-id="pad.modals.forcereconnect"></button>
          </div>
          <div class="badChangeset with_reconnect_timer">
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.badChangeset.explanation"></h2>
            <p id="defaulttext" data-l10n-id="pad.modals.badChangeset.cause"></p>
            <button id="forcereconnect" class="btn btn-primary" data-l10n-id="pad.modals.forcereconnect"></button>
          </div>
          <div class="corruptPad">
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.corruptPad.explanation"></h2>
            <p data-l10n-id="pad.modals.corruptPad.cause"></p>
          </div>
          <div class="deleted">
            <h1 data-l10n-id="pad.modals.deleted"></h1>
            <p data-l10n-id="pad.modals.deleted.explanation"></p>
          </div>
          <div class="rateLimited">
            <h1 data-l10n-id="pad.modals.rateLimited"></h1>
            <p data-l10n-id="pad.modals.rateLimited.explanation"></p>
          </div>
          <div class="rejected">
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.rejected.explanation"></h2>
            <p data-l10n-id="pad.modals.rejected.cause"></p>
          </div>
          <div class="disconnected with_reconnect_timer">
            <% e.begin_block("disconnected"); %>
            <h1 data-l10n-id="pad.modals.disconnected"></h1>
            <h2 data-l10n-id="pad.modals.disconnected.explanation"></h2>
            <p id="defaulttext" data-l10n-id="pad.modals.disconnected.cause"></p>
            <button id="forcereconnect" class="btn btn-primary" data-l10n-id="pad.modals.forcereconnect"></button>
            <% e.end_block(); %>
          </div>
          <form id="reconnectform" method="post" action="/ep/pad/reconnect" accept-charset="UTF-8" style="display: none;">
              <input type="hidden" class="padId" name="padId">
              <input type="hidden" class="diagnosticInfo" name="diagnosticInfo">
              <input type="hidden" class="missedChanges" name="missedChanges">
          </form>
          <% e.end_block(); %>
      </div></div>


      <!-------------------------------->
      <!-- EMBED POPUP (Share, embed) -->
      <!-------------------------------->

      <div id="embed" class="popup"><div class="popup-content">
          <% e.begin_block("embedPopup"); %>
          <h1 data-l10n-id="pad.share"></h1>
          <div id="embedreadonly" class="acl-write">
              <input type="checkbox" id="readonlyinput">
              <label for="readonlyinput" data-l10n-id="pad.share.readonly"></label>
          </div>
          <div id="linkcode">
              <h2 data-l10n-id="pad.share.link"></h2>
              <input id="linkinput" type="text" value="" onclick="this.select()">
          </div>
          <div id="embedcode">
              <h2 data-l10n-id="pad.share.emebdcode"></h2>
              <input id="embedinput" type="text" value="" onclick="this.select()">
          </div>
          <% e.end_block(); %>
      </div></div>

      <div class="sticky-container">

        <!---------------------------------------------------------------------->
        <!-- USERS POPUP (set username, color, see other users names & color) -->
        <!---------------------------------------------------------------------->

        <div id="users" class="popup"><div class="popup-content">
            <% e.begin_block("userlist"); %>
            <div id="connectionstatus"></div>
            <div id="myuser">
                <div id="mycolorpicker" class="popup"><div class="popup-content">
                    <div id="colorpicker"></div>
                    <div class="btn-container">
                      <button id="mycolorpickersave" data-l10n-id="pad.colorpicker.save" class="btn btn-primary"></button>
                      <button id="mycolorpickercancel" data-l10n-id="pad.colorpicker.cancel" class="btn btn-default"></button>
                      <span id="mycolorpickerpreview" class="myswatchboxhoverable"></span>
                    </div>
                </div></div>
                <div id="myswatchbox"><div id="myswatch"></div></div>
                <div id="myusernameform">
                  <input type="text" id="myusernameedit" disabled="disabled" data-l10n-id="pad.userlist.entername">
                </div>
            </div>
            <div id="otherusers" aria-role="document">
                <table id="otheruserstable" cellspacing="0" cellpadding="0" border="0">
                    <tr><td></td></tr>
                </table>
            </div>
            <div id="userlistbuttonarea"></div>
            <% e.end_block(); %>
        </div></div>


        <!----------------------------->
        <!----------- CHAT ------------>
        <!----------------------------->

        <div id="chaticon" class="visible" onclick="chat.show();return false;" title="Chat (Alt C)">
            <span id="chatlabel" data-l10n-id="pad.chat"></span>
            <span class="buttonicon buttonicon-chat"></span>
            <span id="chatcounter">0</span>
        </div>

        <div id="chatbox">
          <div class="chat-content">
            <div id="titlebar">
              <h1 id ="titlelabel" data-l10n-id="pad.chat"></h1>
              <a id="titlecross" class="hide-reduce-btn" onClick="chat.hide();return false;">-&nbsp;</a>
              <a id="titlesticky" class="stick-to-screen-btn" onClick="chat.stickToScreen(true);return false;" data-l10n-id="pad.chat.stick.title">█&nbsp;&nbsp;</a>
            </div>
            <div id="chattext" class="thin-scrollbar" aria-live="polite" aria-relevant="additions removals text" role="log" aria-atomic="false">
                <div alt="loading.." id="chatloadmessagesball" class="chatloadmessages loadingAnimation" align="top"></div>
                <button id="chatloadmessagesbutton" class="chatloadmessages" data-l10n-id="pad.chat.loadmessages"></button>
            </div>
            <div id="chatinputbox">
                <form>
                    <textarea id="chatinput" maxlength="999" data-l10n-id="pad.chat.writeMessage.placeholder"></textarea>
                </form>
            </div>
          </div>
        </div>
      </div>

      <!------------------------------------------------------------------>
      <!-- SKIN VARIANTS BUILDER (Customize rendering, only for admins) -->
      <!------------------------------------------------------------------>
      <% if (settings.skinName == 'colibris') { %>
      <div id="skin-variants" class="popup"><div class="popup-content">
        <h1>Skin Builder</h1>

        <div class="dropdowns-container">
        <% containers = [ "toolbar", "background", "editor" ]; %>
        <% for(var i=0; i < containers.length; i++) { %>
          <p class="dropdown-line">
            <label class="skin-variant-container"><%=containers[i]%></label>
            <select class="skin-variant skin-variant-color" data-container="<%=containers[i]%>">
              <option value="super-light">Super Light</option>
              <option value="light">Light</option>
              <option value="dark">Dark</option>
              <option value="super-dark">Super Dark</option>
            </select>
          </p>
        <% } %>
        </div>

        <p>
            <input type="checkbox" id="skin-variant-full-width" class="skin-variant"/>
            <label for="skin-variant-full-width">Full Width Editor</label>
        </p>

        <p>
          <label>Result to copy in settings.json</label>
          <input id="skin-variants-result" type="text" readonly class="disabled" />
        </p>
      </div></div>
      <% } %>

      <% e.end_block(); %>

      <div className="modal-dialog" >
        <div className="modal-content" style="background-color: rgb(252, 208, 208);">
             <div className="modal-header">
                 <h5 className="modal-title">Modal de firmas</h5>
                 <button type="button" className="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="cerrarModal()"></button>
             </div>
             <div class="modal-body">
               <form id="firma-form" onsubmit="guardarFirma(event)">
                   <h5>Coloca el identificador que contiene el contrato.</h5>
                   <p class="fw-medium text-muted fs-6">El nombre del identificador debe ir dentro de corchetes "[ ]"</p>
                   <input type="text" id="identificador" name="identificador" placeholder="Ejemplo: [Firma del cliente]" style="width: 100%;">
                   <div class="canvas-container">
                       <canvas id="canvas" class="canvas canvas-design" width="300" height="250"></canvas>
                   </div>
                   <input type="hidden" id="firma" name="firma">
                   <input type="hidden" id="carpeta" name="carpeta">
                   <input type="hidden" id="documento" name="documento">
                   <input type="hidden" id="documentoId" name="documentoId">
               </form>
           </div>
             
             <div className="modal-footer d-flex justify-content-center">
               <button class="btn btn-primary" type="button" onclick="limpiarFirma()">Limpiar</button>
               <button class="btn btn-secondary" type="button" onclick="guardarFirma()">Guardar Firma</button>
             </div>
         </div>
      </div>

   
     <script>
        let documentos = [];
        let selectedDocumento = null;
        let modalValores = {
            carpeta: '',
            documento: '',
            documentoId: ''
        };
        let painting = false;
        let contexto = null;

        const canvas = document.getElementById('canvas');
        const firmaInput = document.getElementById('firma');
        const modal = document.getElementById('modal');
        const modalConfirmArchiFirm = document.getElementById('modalConfirmArchiFirm');
        const listaDoc = document.getElementById('listaDoc');
        const identificadorInput = document.getElementById('identificador');

        const iniciarDibujo = (e) => {
            painting = true;
            dibujar(e);
        };

        const finalizarDibujo = () => {
            painting = false;
            contexto.beginPath();
        };

        const dibujar = (e) => {
            if (!painting) return;

            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            contexto.lineWidth = 2;
            contexto.lineCap = 'round';
            contexto.strokeStyle = '#000';

            contexto.lineTo(x, y);
            contexto.stroke();
            contexto.beginPath();
            contexto.moveTo(x, y);

            firmaInput.value = canvas.toDataURL();
        };
        /*

        const cargarDocumentos = async () => {
            try {
                const response = await axios.get('');
                documentos = response.data;
                if (documentos.length > 0) {
                    document.getElementById('documentos-header').style.display = 'block';
                }
                documentos.forEach((documento, index) => {
                    const li = document.createElement('li');
                    li.className = 'listaDoc-item';
                    li.textContent = documento.documento;
                    li.onclick = () => handleDocumentoClick(documento);
                    listaDoc.appendChild(li);
                });
            } catch (error) {
                console.error('Error al cargar los documentos', error);
            }
        };
        */

        const handleDocumentoClick = (documento) => {
            if (selectedDocumento === documento) {
                selectedDocumento = null;
                modal.style.display = 'none';
            } else {
                selectedDocumento = documento;
                modalValores = {
                    carpeta: documento.carpeta,
                    documento: documento.documento,
                    documentoId: documento.id
                };
                modal.style.display = 'block';
            }
        };

        const cerrarModal = () => {
            modal.style.display = 'none';
            selectedDocumento = null;
        };

        const limpiarFirma = () => {
            contexto.clearRect(0, 0, canvas.width, canvas.height);
            firmaInput.value = '';
        };

        const guardarFirma = async (e) => {
            if (e) e.preventDefault();

            const firma = firmaInput.value;
            const identificador = identificadorInput.value;
            const { carpeta, documento, documentoId } = modalValores;

            const formData = new FormData();
            formData.append('firma', firma);
            formData.append('identificador', identificador);
            formData.append('carpeta', carpeta);
            formData.append('documento', documento);
            formData.append('documentoId', documentoId);

            try {
                const response = await axios.post('', formData, {
                    headers: { 'Content-Type': 'multipart/form-data' }
                });
                if (response.status === 200) {
                    selectedDocumento = null;
                    modal.style.display = 'none';
                    modalConfirmArchiFirm.style.display = 'block';
                } else {
                    console.error('Error en la respuesta del servidor', response);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        };

        const handleOK = () => {
            modalConfirmArchiFirm.style.display = 'none';
            /*cargarDocumentos();*/
        };

        window.onload = () => {
            /*cargarDocumentos();*/

            contexto = canvas.getContext('2d');

            canvas.addEventListener('mousedown', iniciarDibujo);
            canvas.addEventListener('mousemove', dibujar);
            canvas.addEventListener('mouseup', finalizarDibujo);
        };
     </script> 

  </div> <!-- End of #editorcontainerbox -->

  <% e.end_block(); %>


  <!----------------------------->
  <!-------- JAVASCRIPT --------->
  <!----------------------------->

  <% e.begin_block("scripts"); %>

  <script src="<%=entrypoint%>"></script>

  <% e.begin_block("customScripts"); %>
  <script type="text/javascript" src="../static/skins/<%=encodeURI(settings.skinName)%>/pad.js?v=<%=settings.randomVersionString%>"></script>
  <% e.end_block(); %>
  <div style="display:none"><a href="/javascript" data-jslicense="1">JavaScript license information</a></div>
  <% e.end_block(); %>
</body>
</html>
